vendor/
composer.lock
.*.swp

# Binaries
/bin/phpdoc
/bin/phpdoc.php
/bin/phpunit
/bin/php-parse
/bin/jsonlint
/bin/validate-json
/tests/coverage
/tests/generated_docs/phpdoc-cache*
.phpunit.result.cache
ast.dump
clover.xml
